In [36]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder

In [37]:
csv_file_path = r"C:\Users\Parth Tripathi\Downloads\zomato_dataset (1).csv"  
new = pd.read_csv(csv_file_path)
new.replace('?', 'NaN', inplace=True)
new.to_csv('zomato_dataset_updated.csv', index=False)

In [38]:
zomato_data = pd.read_csv(r'C:\Users\Parth Tripathi\Desktop\codes\DPL LAB\zomato_dataset_updated.csv')

In [39]:
df = pd.DataFrame(zomato_data)

In [40]:
zomato_data.head(3)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162.0,Makati City,Third Floor; Century City Mall; Kalayaan Avenu...,Century City Mall; Poblacion; Makati City,Century City Mall; Poblacion; Makati City; Mak...,121.027535,14.565443,French; Japanese; Desserts,1100.0,Botswana Pula(P),3.0,4.8,Dark Green,Excellent,314.0
1,6304287,Izakaya Kikufuji,162.0,Makati City,Little Tokyo; 2277 Chino Roces Avenue; Legaspi...,Little Tokyo; Legaspi Village; Makati City,Little Tokyo; Legaspi Village; Makati City; Ma...,121.014101,14.553708,Japanese,1200.0,Botswana Pula(P),3.0,4.5,Dark Green,Excellent,591.0
2,6300002,NaN,162.0,NaN,Edsa Shangri-La; 1 Garden Way; Ortigas; Mandal...,Edsa Shangri-La; Ortigas; Mandaluyong City,NaN,NaN,14.581404,NaN,NaN,NaN,NaN,4.4,NaN,NaN,270.0

In [41]:
zomato_data.shape

(9551, 17)

In [42]:
zomato_data.isnull().sum()

Restaurant ID              0
Restaurant Name         4985
Country Code            4972
City                    4840
Address                 4855
Locality                4828
Locality Verbose        4974
Longitude               4911
Latitude                4855
Cuisines                4932
Average Cost for two    4893
Currency                4894
Price range             4931
Aggregate rating        4861
Rating color            4935
Rating text             4965
Votes                   4918
dtype: int64

In [43]:
total_missing_values = zomato_data.isnull().sum().sum()
percent_missing_values = total_missing_values / zomato_data.count().sum() * 100
percent_missing_values

93.71376076737694

In [44]:
zomato_data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Price range', 'Aggregate rating',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [45]:
city = zomato_data['City'].fillna(zomato_data['Address'].str.split(';').str[-1].str.strip(), inplace=True)

In [46]:
zomato_data['City'].fillna(zomato_data['Locality'].str.split(';').str[-1].str.strip(), inplace=True)

In [47]:
columns_to_drop = ['Restaurant Name', 'Longitude', 'Latitude']
zomato_data.drop(columns=columns_to_drop, inplace=True)

In [48]:
zomato_data.isnull().sum()

Restaurant ID              0
Country Code            4972
City                    1131
Address                 4855
Locality                4828
Locality Verbose        4974
Cuisines                4932
Average Cost for two    4893
Currency                4894
Price range             4931
Aggregate rating        4861
Rating color            4935
Rating text             4965
Votes                   4918
dtype: int64

In [49]:
numerical_columns = ['Country Code', 'Average Cost for two', 'Aggregate rating', 'Votes','Price range']

In [50]:
knn_imputer = KNNImputer(n_neighbors=5)
zomato_data[numerical_columns] = knn_imputer.fit_transform(zomato_data[numerical_columns])

In [51]:
zomato_data['City'].replace('NaN', 'Not Know ', inplace=True)

In [52]:
columns_to_drop_2 = ['Rating color','Rating text']
zomato_data.drop(columns=columns_to_drop_2, inplace=True)

In [53]:
zomato_data.isnull().sum()

Restaurant ID              0
Country Code               0
City                    1131
Address                 4855
Locality                4828
Locality Verbose        4974
Cuisines                4932
Average Cost for two       0
Currency                4894
Price range                0
Aggregate rating           0
Votes                      0
dtype: int64

In [54]:
unique_values = df['Country Code'].unique()
unique_values

array([162.,  nan,  30., 216.,  14., 184.,  37., 214.,   1.,  94., 148.,
       215., 166., 189., 191., 208.])

In [55]:
unique_values = df['Currency'].unique()
unique_values

array(['Botswana Pula(P)', nan, 'Brazilian Real(R$)', 'Dollar($)',
       'Emirati Diram(AED)', 'Indian Rupees(Rs.)',
       'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds(?)',
       'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)',
       'Turkish Lira(TL)'], dtype=object)

In [56]:
currency_mapping = {
    162.0: 'Botswana Pula(P)',
    30.0: 'Brazilian Real(R$)',
    216.0: 'Dollar($)',
    214.0:'Emirati Diram(AED)',
    1.0:'Indian Rupees(Rs.)',
    215.0:'Pounds(?)',
    148.0:'NewZealand($)',
    191.0:'Sri Lankan Rupee(LKR)',
    208.0:'Turkish Lira(TL)',
    189.0:'Rand(R)',
    166.0:'Qatari Rial(QR)',
    94.0:'Indonesian Rupiah(IDR)'
    
    
   
}


zomato_data['Currency'].fillna(zomato_data['Country Code'].map(currency_mapping), inplace=True)

In [57]:
zomato_data.isnull().sum()

Restaurant ID              0
Country Code               0
City                    1131
Address                 4855
Locality                4828
Locality Verbose        4974
Cuisines                4932
Average Cost for two       0
Currency                 593
Price range                0
Aggregate rating           0
Votes                      0
dtype: int64

In [58]:
def mode_impute(code):
    if code['Cuisines'].notnull().any():
        mode_value = code['Cuisines'].mode().iloc[0]
        code['Cuisines'].fillna(mode_value, inplace=True)
    return code
zomato_data = zomato_data.groupby('Country Code').apply(mode_impute)
zomato_data.reset_index(drop=True, inplace=True)

In [59]:
zomato_data.isnull().sum()

Restaurant ID              0
Country Code               0
City                    1131
Address                 4855
Locality                4828
Locality Verbose        4974
Cuisines                  51
Average Cost for two       0
Currency                 593
Price range                0
Aggregate rating           0
Votes                      0
dtype: int64

In [60]:
columns_to_drop_3 = ['Address', 'Locality','Locality Verbose']
zomato_data.drop(columns=columns_to_drop_3, inplace=True)

In [61]:
zomato_data.isnull().sum()

Restaurant ID              0
Country Code               0
City                    1131
Cuisines                  51
Average Cost for two       0
Currency                 593
Price range                0
Aggregate rating           0
Votes                      0
dtype: int64

In [62]:
numerical_column=['Restaurant ID','Country Code','Average Cost for two','Price range','Aggregate rating','Votes']

In [63]:
min_max_scaler = MinMaxScaler()
zomato_df_min_max_scaled = zomato_data.copy()
zomato_df_min_max_scaled[numerical_column] = min_max_scaler.fit_transform(zomato_data[numerical_column])

In [64]:
zomato_df_min_max_scaled

,Restaurant ID,Country Code,City,Cuisines,Average Cost for two,Currency,Price range,Aggregate rating,Votes
0,0.341527,0.0,Mandaluyong City,Japanese; Sushi,0.004320,Botswana Pula(P),1.000000,1.000000,0.046022
1,0.341300,0.0,Mandaluyong City,Japanese; Korean,0.003000,Indian Rupees(Rs.),1.000000,0.771429,0.028874
2,0.340569,0.0,Pasay City,North Indian,0.004000,Indian Rupees(Rs.),1.000000,0.657143,0.065566
3,0.982941,0.0,Santa Rosa,Cafe; American; Italian; Filipino,0.001600,Botswana Pula(P),0.666667,0.734694,0.048922
4,0.340970,0.0,Taguig City,Cafe; Bakery; American; Italian,0.003000,Indian Rupees(Rs.),0.800000,0.897959,0.039743
...,...,...,...,...,...,...,...,...,...
9546,0.956582,1.0,IA 50703,Mexican,0.000020,Dollar($),0.000000,0.755102,0.029555
9547,0.956402,1.0,Weirton,Mexican,0.000268,Dollar($),0.333333,0.795918,0.023175
9548,0.949144,1.0,OR 97467,Mexican,0.000050,Dollar($),0.333333,0.653061,0.014500
9549,0.410921,1.0,Edinburgh,Burger; Grill,0.000080,Dollar($),0.666667,0.828571,0.104779
9550,0.367609,1.0,Manchester,Italian,0.000050,Pounds(?),0.333333,0.795918,0.039112

In [65]:
z_score_scaler = StandardScaler()
zomato_df_z_score_scaled = zomato_data.copy()
zomato_df_z_score_scaled[numerical_column] = z_score_scaler.fit_transform(zomato_data[numerical_column])

In [66]:
zomato_df_z_score_scaled

,Restaurant ID,Country Code,City,Cuisines,Average Cost for two,Currency,Price range,Aggregate rating,Votes
0,-0.310841,-0.343327,Mandaluyong City,Japanese; Sushi,0.078023,Botswana Pula(P),2.920898,1.793895,0.627030
1,-0.311319,-0.343327,Mandaluyong City,Japanese; Korean,0.019259,Indian Rupees(Rs.),2.920898,0.948961,0.222920
2,-0.312857,-0.343327,Pasay City,North Indian,0.063777,Indian Rupees(Rs.),2.920898,0.526495,1.087596
3,1.039002,-0.343327,Santa Rosa,Cafe; American; Italian; Filipino,-0.043066,Botswana Pula(P),1.602575,0.813169,0.695372
4,-0.312013,-0.343327,Taguig City,Cafe; Bakery; American; Italian,0.019259,Indian Rupees(Rs.),2.129904,1.416693,0.479054
...,...,...,...,...,...,...,...,...,...
9546,0.983529,4.308927,IA 50703,Mexican,-0.113405,Dollar($),-1.034071,0.888609,0.238966
9547,0.983150,4.308927,Weirton,Mexican,-0.102364,Dollar($),0.284252,1.039490,0.088613
9548,0.967877,4.308927,OR 97467,Mexican,-0.112069,Dollar($),0.284252,0.511407,-0.115819
9549,-0.164802,4.308927,Edinburgh,Burger; Grill,-0.110733,Dollar($),1.602575,1.160195,2.011700
9550,-0.255952,4.308927,Manchester,Italian,-0.112069,Pounds(?),0.284252,1.039490,0.464197

In [69]:

zomato_data['Average Cost for two'] = pd.to_numeric(zomato_data['Average Cost for two'], errors='coerce')
zomato_data['Aggregate rating'] = pd.to_numeric(zomato_data['Aggregate rating'], errors='coerce')
zomato_data['cost_label'] = pd.cut(zomato_data['Average Cost for two'], bins=[0, 500, 1000, float('inf')], labels=['Low', 'Medium', 'High'], right=False)
zomato_data['rating_label'] = pd.cut(zomato_data['Aggregate rating'], bins=[0, 3, 4, float('inf')], labels=['Poor', 'Average', 'Good'], right=False)


cost_encoder = LabelEncoder()
rating_encoder = LabelEncoder()
zomato_data['cost_label_encoded'] = cost_encoder.fit_transform(zomato_data['cost_label'].astype(str).dropna())
zomato_data['rating_label_encoded'] = rating_encoder.fit_transform(zomato_data['rating_label'].astype(str).dropna())
zomato_data['cost_label_encoded'].fillna(-1, inplace=True)
zomato_data['rating_label_encoded'].fillna(-1, inplace=True)

knn_imputer = KNNImputer(n_neighbors=3)
imputed_data = knn_imputer.fit_transform(zomato_data[['cost_label_encoded', 'rating_label_encoded']])
imputed_data = pd.DataFrame(imputed_data, columns=['cost_label_encoded', 'rating_label_encoded']).round().astype(int)
zomato_data['cost_label_imputed'] = cost_encoder.inverse_transform(imputed_data['cost_label_encoded'])
zomato_data['rating_label_imputed'] = rating_encoder.inverse_transform(imputed_data['rating_label_encoded'])
#zomato_df.drop(['cost_label_encoded', 'rating_label_encoded'], axis=1, inplace=True)
def compute_combined_rating(cost_label, rating_label):
    if cost_label == 'High' and rating_label == 'Good':
        return 'Premium'
    elif cost_label == 'Low' and rating_label == 'Poor':
        return 'Budget'
    else:
        return 'Standard'

zomato_data['combined_rating'] = zomato_data.apply(lambda x: compute_combined_rating(x['cost_label_imputed'], x['rating_label_imputed']), axis=1)

In [70]:
zomato_data['combined_rating']

0        Premium
1       Standard
2       Standard
3       Standard
4        Premium
          ...
9546    Standard
9547    Standard
9548    Standard
9549    Standard
9550    Standard
Name: combined_rating, Length: 9551, dtype: object

In [78]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import confusion_matrix

In [72]:
X = zomato_data[['cost_label_encoded', 'rating_label_encoded']]
y = zomato_data['combined_rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [73]:
k = 5  
knn_classifier = KNeighborsClassifier(n_neighbors=k)
knn_classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [74]:
y_pred = knn_classifier.predict(X_test)

In [76]:
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

In [77]:
print("Accuracy:", accuracy)
print("\nClassification Report:\n", classification_rep)

Accuracy: 1.0

Classification Report:
               precision    recall  f1-score   support

      Budget       1.00      1.00      1.00       623
     Premium       1.00      1.00      1.00        72
    Standard       1.00      1.00      1.00      1216

    accuracy                           1.00      1911
   macro avg       1.00      1.00      1.00      1911
weighted avg       1.00      1.00      1.00      1911

In [79]:
confusion = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(confusion)

Confusion Matrix:
[[ 623    0    0]
 [   0   72    0]
 [   0    0 1216]]